@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    scroll-behavior: smooth;
  }

  .poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .active {
    @apply text-green underline;
  }

  .activeNav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 9999;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
    background-color: white;
  }

  .banner {
    height: calc(100vh - 100px);
  }
  .categoryEffect_main {
    position: relative;
  }

  .categoryEffect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #073b53;
    height: 2px;
    width: 100%;
    z-index: -999;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rating {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  .discount_gradeint {
    background: rgb(121, 10, 10);
    background: linear-gradient(
      90deg,
      rgba(121, 10, 10, 1) 0%,
      rgba(198, 47, 47, 1) 0%,
      rgba(36, 21, 22, 1) 94%
    );
  }

  .discount_gradeint_2 {
    background: rgb(121, 10, 10);
    background: linear-gradient(
      90deg,
      rgba(121, 10, 10, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(70, 69, 69, 1) 60%
    );
  }

  .logo {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  .box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .active_sidbar_item {
    background-color: #073b53;
    color: white;
  }

  .sidebar_nav {
    @apply flex items-center gap-4 py-2 hover:bg-darkBlue duration-500 mt-2 px-4 hover:text-white;
  }
}
